.card-body{
    background-color:#FD7E35 ;
}
.subheading-card{
    font-size: 1.3rem;
    color:#0C090D;
}
.btn-outline-secondary{
    color: #0C090D;
    background-color: #FD7E35;
    border-color: #0C090D;
}
.btn{
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;;
}
.btn:hover {
    background-color: #0C090D; /* Green */
    color: #D3D0CB;
    border-color: #0C090D;
  }
.col-md-4{
    max-width: 30%;
}

.img-blur{
    filter: blur(1px);
    -webkit-filter: blur(1px);
}
.bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }

  .centered {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FD7E35;
    font-size: 2rem;
}